/***Général***/
* {
    font-family: 'Roboto';
    margin: 0;
}

html{
    scroll-behavior:smooth;
}

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --third-color:#99E2D0;
}

body {
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

.fa-solid {
    color: #7e7e7e;
}

.card {
    max-width: 1400px;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    color: black;
}

.card img {
    object-fit: cover;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
}

/****** Loader ******/
.loader {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    position: fixed;
    background: var(--primary-color);
    animation: fade-out 3s linear 3s both;
    -webkit-animation: fade-out 3s linear 3s both;
}

@keyframes fade-out {
from{
    opacity: 1;
}
to{
    opacity: 0;
    visibility: hidden; /* permet d'accéder aux autres éléments*/
}
}

@-webkit-keyframes fade-out {
from {
    opacity: 1;
}
to {
    opacity: 0;
    visibility: hidden;
}
}

.cup::before {
    content: '';
    position: relative;
    top: 35%;
    left: 44%;
    background: transparent;
    border: 5px solid #f3f3f3; /* Gris clair */
    border-top: 5px solid var(--secondary-color); 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cup {
    height: 140px;
    width: 180px;
    border: 6px solid var(--primary-color);/*couleur raccord avec background chargement*/
    border-radius: 0 0 70px 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background: url(coffee.png) repeat-x;
    background-position: 0 140px;
    box-shadow: 0 0 0 7px white, 0 20px 30px rgb(50, 15, 84, .8);
    animation: fill 2.5s ease -1s infinite;
    -webkit-animation: fill 2.5s ease -1s infinite;
}

@keyframes fill {
    0%, 100% {
        background-position: 0 140px;
    }
    50% {
        background-position: 700px -50px;
    }
}

@-webkit-keyframes fill {
    0%, 100% {
        background-position: 0 140px;
    }
    50% {
        background-position: 700px -50px;
    }
}

.cup::after{
    content: '';
    height: 70px;
    width: 40px;
    background: transparent;
    border: 6px solid var(--primary-color);
    border-radius: 0 25px 80px 0;
    box-shadow: 0 0 0 7px white;
    position: relative;
    left: 108%;
    top: -18%;
    display: flex;
}

/****** Header ******/
.header-logo {
    height: 63px;
    padding-top: 15px;
    padding-bottom: 5px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

#logo {
    width: 162px;
    height: 44px;
}

/***** Header pages des restaurants *****/
.left-arrow {
    background: url("left-arrow.png");
    width: 17.2px;
    height: 16px;
    position: absolute;
    left: 23px;
}

/****** Localisation ******/
.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;
    height: 50px;
    min-height: 50px;
}

input[type="search"] {
    height: 50px;
    background: #EAEAEA;
    border: none;
}

input::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.fa-location-dot {
    color: black;
    height: 16px;
    width: 12px;
    margin-right: 17px;
}

/***** Présentation ******/
.title-btn-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
    width: 100%;
    height: 287px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.subtitle-center {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-gradient {
    width: 218px;
    height: 3.125rem;
    min-height: 3.125rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.btn-gradient a {
    color: #FFFF;
    font-weight: 500;
}

.btn-gradient:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/*****Fonctionnement****/
#fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 440px;
    padding: 48px 20px 68px;
    box-sizing: border-box;
}

#fonctionnement .section-title {
    margin: 0;
}

#fonctionnement p {
    font-weight: 500;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-text-icons {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    border-radius: 20px;
    margin-bottom: 20px;
    height: 72.38px;
    width: 100%;
    gap: 20px;
}

.menu-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem; /*24px*/
    height: 1.5rem;
    font-size: 14.18px;
    color: #FFFF;
    border-radius: 50%;
    background: var(--primary-color);
    position: relative;
    left: -10px;
}

.fa-store {
    color: var(--primary-color);
}

/***** Restaurants *****/
#restaurants {
    padding: 45px 20px 70px;
    background-color: #F6F6F6;
    box-sizing: border-box;
}

#restaurants .section-title {
    margin-top: 0;
}

.restaurants-card {
    display: flex;
    flex-direction: column;
}

.restaurants-cards .card {
    height: 251px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.restaurants-cards img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurants-cards .card-content {
    padding-left: 10px;
}

.restaurants-cards .card-title {
    margin: 10px 0 0;
}

.restaurants-cards .card-subtitle {
    margin-top: 0;
}

.new-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--third-color);
    color: #008766;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 29px;
    position: absolute;
    top: 0;
    right: 3.5%;
}
    
.heart {
    background: url('heart_empty.svg') no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    right: 5%;
    height: 21px;
    width: 22px;
}

.heart-full {
    background: url('heart_full.svg') no-repeat;
    background-size: contain;
    opacity: 0;
    position: absolute;
    bottom: 10%;
    right: 5%;
    height: 21px;
    width: 22px;
    cursor: pointer;
    transition: all 0.2s 90ms ease-in-out;
}

.heart-full:hover,
.heart-full:active {
    opacity: 1;
}

.heart:hover,
.heart:active {
    opacity: 0;
}

/**** Images pages des restaurants*****/
.restaurant-image img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

/****** Section pages des restaurants ******/
.restaurant-background-radius {
    width: 100%;
    padding: 31px 13px 40px;
    box-sizing: border-box;
    background: #F6F6F6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: -40px;
}

.restaurant-title {
    font-family: 'Shrikhand';
    font-size: 28px;
    font-weight: 400;
}

.restaurant-title-heart {
    display: flex;
    position: relative;
}

.heart-title {
    top: 20%;
}

.box {
    margin-top: 40px;
}

.box-title {
    border-bottom: 3px solid var(--third-color);
    padding-bottom: 5px;
    width: 40px;
}

.card-plate-price {
    height: 69px;
    padding: 15px 12px;
    margin-top: 12px;
    background: #FFF;
    box-sizing: border-box;
    box-shadow: 0px 4.01px 15.04px rgba(0, 0, 0, 0.1);
    border-radius: 15.04px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.card-plate-price .card-content-first h3 {
    font-size: 18px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-plate-price:hover .card-content-first h3,
.card-plate-price:active .card-content-first h3 {
    max-width: 80%;
}

.card-content-2 {
    display: flex;
    justify-content: space-between;
}

.card-subtitle-2 {
    font-size: 15.04px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-plate-price:hover .card-subtitle-2,
.card-plate-price:active .card-subtitle-2 {
    max-width: 65%;
}

.card-price {
    font-size: 15.04px;
    font-weight: 700;
    transition: transform .4s ease-in-out;
}

.card-plate-price:hover .card-price {
    transform: translateX(-220%);
}

.fa-circle-check {
    color: #FFF;
}

.card-plate-price .check-animation {
    width: 59px;
    height: 69px;
    font-size: 20px;
    border-radius: 0 15.04px 15.04px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--third-color);
    position: absolute;
    right: 0;
    margin-top: -14.7px;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: right;
    transition: all .4s .1s ease;
}

/*sélectionne descendant direct*/
.card-plate-price:hover> .check-animation {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

#order {
    margin-top: 40px;
    margin-inline: auto;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}

/**** Chargement progressif éléments pages ****/
.enter {
    -webkit-animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.33s;
}

.menu {
    -webkit-animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: .66s;
}

.desserts {
    -webkit-animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1s;
}

@-webkit-keyframes slide-up {
from{-webkit-transform: translateY(300px);
    opacity: 0; }
    
to{-webkit-transform: translateY(0);
    opacity: 1;
    transition: opacity .4s }
}

@keyframes slide-up {
from{transform: translateY(300px);
    opacity: 0; }
    
    to{transform: translateY(0);
    opacity: 1;
    transition: opacity .4s }
}

/**** Pied de page ****/
footer {
    background: #353535;
    height: 186px;
    width: 100%;
}

.logo-footer {
    font-family: 'Shrikhand', sans-serif;
    font-size: 18px;
    color: #FFFF;
    padding-bottom: 15px;
}

footer ul {
    padding-top: 20px;
    padding-left: 25px;
}

footer ul li a{
    color: #FFFF;
    line-height: 26px;
}

.footer-link {
    font-weight: 500;
}

.fa-utensils ,.fa-handshake-angle {
    color: #FFFF;
    width: 11px;
    height: 13px;
    margin-right: 15px;
}

.fa-handshake-angle {
    transform: rotate(-15deg);
}

@media (min-width: 1024px) {
h1 {
    font-size: 40px;
}

/******Header******/
#logo {
    width: 200px;
}

/**** Menu *****/
.title-btn-center {
    height: 239px;
}

/***** Fonctionnement ****/
#fonctionnement {
    height: 228px;
    padding: 50px 180px;
}

.menu-container {
    flex-direction: row;
    gap: 25px;
}

/***** Restaurants *****/
#restaurants {
    padding: 30px 180px;
    height: 668px;
}

.restaurants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 91px;
    row-gap: 50px;
}

.restaurants-cards .card {
    margin-top: 0;
}

/****** Section pages des restaurants ******/
.restaurant-background-radius {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 51px;
    margin-inline: auto;
}

.heart-title {
    right: -20%;
    top: 25%;
}

.card-plate-price {
    width: 634px;
}

/**** Pied de page ****/
footer {
    height: 114px;
    padding: 30px 25px;
    box-sizing: border-box;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

footer ul li a {
    position: relative;
    right: 120px;
}

.logo-footer {
    order: 1;
    position: relative;
    right: 3.5%;
}

.deux {
    margin-right: 30px;
}
}
