/***Général***/
* {
    font-family: 'Roboto';
}

:root {
    --main-bg-color: #;
    ---bg-color: #;
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --third-color:#99E2D0;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.fa-solid {
    color: #7e7e7e;
}

.card {
    max-width: 1440px;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    color: black;
}

.card img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style-type: none;
}

/******Header******/
#logo {
    width: 45%;
    min-width: 162px;
    height: 44px;
    margin-inline: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAEAEA;
}

.fa-location-dot {
    color: black;
    height: 16px;
    width: 12px;
}


h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
}

/****Menu*****/
.menu {
    width: 100%;
    height: 310px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background: #F6F6F6;
}

.title-btn-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-center {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-gradient {
    width: 218px;
    height: 3.125rem;
    border: none;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 500;
    color: #FFFF;
} 

.btn-gradient:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/*****Fonctionnement****/
#fontionnement {
    width: 100%;
}

#fonctionnement p {
    font-weight: 500;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.info-text-icons {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    border-radius: 20px;
    margin-bottom: 20px;
    height: 72.38px;
    width: 90%;
    gap: 20px;
}

.menu-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem; /*24px*/
    height: 1.5rem;
    font-size: 14.18px;
    color: #FFFF;
    border-radius: 50%;
    background: var(--primary-color);
    position: relative;
    left: -10px;
}

.fa-store {
    color: var(--primary-color);
}

/*****Restaurants*****/
#restaurants {
    margin-bottom: 70px;
}

.restaurants-card {
    display: flex;
    flex-direction: column;
}

.restaurants-cards .card {
    height: 251px; 
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.restaurants-cards img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurants-cards .card-content {
    padding-left: 10px;
}

.restaurants-cards .card-title {
    margin: 10px 0 0;
}

.restaurants-cards .card-subtitle {
    margin-top: 0;
}

.new-restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99E2D0;
    color: #008766;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 29px;
    position: absolute;
    top: 0;
    right: 3.5%;
}

.fa-heart::before {
    content: "\f004";
    position: absolute;
    bottom: 15%;
    right: 10%;
}

/****Pied de page****/

footer {
    background: #353535;
    height: 186px;
}

.logo-footer {
    font-family: 'Shrikhand', 'sans-serif';
    font-size: 18px;
    color: #FFFF;
    padding-bottom: 15px;
}

footer ul {
    padding-top: 20px;
    padding-left: 25px;
}

footer ul li a{
    color: #FFFF;
    line-height: 26px;
}

.footer-link {
    font-weight: 500;
}

@media (min-width: 767.98px) and (max-width: 1024px) {
}
